<div class="booyah-box col-10 offset-1 col-sm-8 offset-sm-2">

<!-- Cosplay.new works @cosplay does not. I can't figure out why.  Also only works with new_cosplay_path specified -->

  <h1>New Costume!</h1>

  <%= simple_form_for Cosplay.new, url: new_cosplay_path do |f| %>
    
    <%= f.input   :costume %>
    <%= f.input   :description %>
    <%= f.submit "Post", class: "bingo" %>
  
  <% end %>

</div>

