@import "bootstrap";

.navbar.navbar-inverse {
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 .navbar {
  margin: 0;
}

h1 {
  font-family: "Segoe UI", Candara, sans-serif;
  font-weight: 200;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top: 20px;
}

.hero {
  background: image_url('logo.png') no-repeat center center fixed;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #E8E8E8;
  font-size: 30px;
  padding: 50px;
 }

 .bingo {
  background-color: #6D0787;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  border-radius: 0px;
 }